.layout-wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-layout-wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

// .section:not(:first-of-type) {
//   margin: 4rem 0;
// }
