h1 {
  font-size: calc(1.8rem + 2vw);

  font-weight: 600;
}

h2 {
  font-size: calc(1.5rem + 0.5vw);
  margin-bottom: 1rem;
}

h3 {
  font-size: calc(1.3rem + 0.5vw);
}

p {
  line-height: 1.8;
  font-weight: 500;
}

h2,
h3 {
  text-transform: capitalize;
  font-weight: 600;
}

h1,
h2,
h3,
label,
textarea {
  color: $secondary-color;
}

p,
input {
  color: rgba($secondary-color, 0.8);
}

a,
p,
label,
input,
textarea,
button {
  font-weight: 500;
  font-size: calc(1.2rem + 0.1vw);
}

a {
  font-size: calc(1.2rem + 0.4vw);
}
